body{

background:#0b0f24;
color:white;
font-family:Arial;
text-align:center;

}

#alerts{

background:black;
padding:20px;
height:200px;
overflow:auto;
border:2px solid red;

}

canvas{

background:white;
margin:20px;
}