body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:linear-gradient(120deg,#0b0f24,#1a1f4d);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
    background:#12163a;
    padding:40px;
    border-radius:12px;
    width:600px;
    box-shadow:0 0 20px rgba(0,0,0,0.6);
}

.prediction-box{
    background:#0f1430;
    padding:20px;
    border-radius:10px;
    margin-bottom:25px;
    border:2px solid #00ff9d;
}

.chart-container{
    margin-bottom:25px;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.btn{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    background:#ff3b3b;
    color:white;
    cursor:pointer;
}

.btn:hover{
    background:#ff0000;
}

.home{
    background:#3b82f6;
}

.home:hover{
    background:#1d4ed8;
}