<!DOCTYPE html>
<html>

<head>

<title>Cyber Security Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Leaflet Map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

</head>

<body>

<h1>Cyber Security Dashboard</h1>

<a href="/">Home</a>


<h2>🚨 Live Attack Alerts</h2>
<div id="alerts"></div>


<h2>📊 Network Traffic Visualization</h2>
<canvas id="trafficChart"></canvas>


<h2>🧠 AI Prediction Visualization</h2>
<canvas id="predictionChart"></canvas>


<h2>🌍 Live Cyber Attack Map</h2>
<div id="attackMap"></div>


<!-- JS FILES -->
<script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

</body>
</html>