<!DOCTYPE html>
<html>

<head>
<title>Cyber Attack Detection</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css') }}">
</head>

<body>

<div class="container">

<h1>AI Cyber Attack Detection System</h1>

<p>Upload Network Traffic CSV File (34 Features)</p>

<form action="/result" method="POST" enctype="multipart/form-data">

<input type="file" name="file" accept=".csv" required>

<br><br>

<button type="submit">Upload & Detect Threat</button>

</form>

</div>

</body>
</html>